
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
:root{
  --primary-color: #ffc9ea;
  --secondary-color: #ffd1df
}
body {
  margin: 0;
  font-family: 'Zen Maru Gothic',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color)  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}
